#include <zephyr/dt-bindings/gpio/gpio.h>

/ {
	aliases {
		focus-button = &focus_button;
		shutter-button = &shutter_button;
		pair-button = &pair_button;
		status-led-red = &status_led_red;
		status-led-green = &status_led_green;
		status-led-blue = &status_led_blue;
	};

	canon_buttons {
		compatible = "gpio-keys";

		focus_button: focus_button {
			label = "Canon focus";
			gpios = <&gpio0 6 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
		};

		shutter_button: shutter_button {
			label = "Canon shutter";
			gpios = <&gpio0 7 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
		};

		pair_button: pair_button {
			label = "Canon pair";
			gpios = <&gpio0 4 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
		};
	};

	status_leds {
		compatible = "gpio-leds";

		status_led_red: red {
			gpios = <&gpio0 0 GPIO_ACTIVE_HIGH>;
		};

		status_led_green: green {
			gpios = <&gpio0 1 GPIO_ACTIVE_HIGH>;
		};

		status_led_blue: blue {
			gpios = <&gpio0 2 GPIO_ACTIVE_HIGH>;
		};
	};
};

/* The upstream board definition assigns GPIO2/GPIO6/GPIO7 to SPI2. */
&spi2 {
	status = "disabled";
};
